
  h2, h4 {
    color: var(--heading-color);
  }
  
  .form, .profile-details, .password-form {
    margin-top: 2rem;
  }
  
  .form .form-group,
  .profile-details p {
    margin-bottom: 1.5rem;
  }
  
  .form .form-label,
  .profile-details p strong {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-weight: 500;
  }
  
  .form .form-control,
  .profile-details p {
    font-size: 1rem;
    color: var(--heading-color);
  }
  
  .form .form-control {
    padding: 0.75rem 1rem;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    transition: border-color 0.3s ease;
  }
  
  .form .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: none;
  }
  
  .profile-details p {
    font-size: 1rem;
  }
  
  .profile-details img {
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
    max-width: 100px;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button.me-2 {
    margin-right: 1rem;
  }
  
  button:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  button.secondary {
    background-color: var(--secondary-color);
    color: #fff;
  }
  
  button.secondary:hover {
    background-color: darken(var(--secondary-color), 10%);
  }
  
  .alert {
    margin-bottom: 1.5rem;
  }
  .profile-details img {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
  }